doctype html
html(lang='en')
	head
		title PuzzleImg example - Images to Puzzle
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/puzzleimg.css')
		style.
			body{
				background:#ffffff;
				text-align:center;
			}
			h1 {
				margin:5px auto;
				font-size:22px;
			}
			h2 {
				margin:0 auto 4px auto;
				font-size:18px;
			}
			#dv1, #dv2 {
				display:inline-block;
				margin:5px 1px;
				border:1px dashed #333;
				text-align:center;
				padding:3px;
			}
			blockquote {
				text-align:left;
			}
			.title{
				color:#58c9db;
			}
			pre {margin:1px 1px 9px 1px;background:#fefebb;font-size:15px; font-weight:bold;text-align:left;color:blue;padding:3px 4px;}
			@media (max-width: 767px) {
				#puz0e_cnv{
					width:320px !important;
					height:175px !important;
				}
			}
	body
		h2.title Lets Fix This Broken Face
		#dv1
			img.imgs(src='/images/#{name}.jpg', width='350', height='205', alt='Spring Dream')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='/javascripts/puzzleimg.js')
		script.
			$(document).ready(function(){
				imgToPuzzle('div .imgs', 3, 4, 0, solved);
				var solved = function(){
					alert('Congratulations');
				}
			});
